table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  thead {
      background-color: rgb(101, 101, 233);
      color: white;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  h2 { 
      text-decoration: underline;
      color: rgb(57, 57, 226);
      text-align: center;
  }
  